@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;

body {
  @apply .bg-white .antialiased;
  font-family: 'Montserrat', sans-serif;
}

@tailwind components;

@tailwind utilities;

.container {
  @apply .max-w-screen-xl .mx-auto .px-4;
}

.hero-about {
  height: 75vh;
  background-image: url('../images/about_hero.jpg');
  background-position: center center;
  background-size: auto 100%;
}

.list-link {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 1;
  height: 12rem;
  background-color: #223322;
  color: white;
  transition: all ease-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.list-link:hover {
  opacity: 0.8;
}

@screen md {
  .container {
    @apply .px-6;
  }
}

@screen lg {
  .container {
    @apply .px-8;
  }
}
